<div *ngIf="post && !isEditing">
  <h1>{{post.title}}</h1>
  <p>{{post.message}}</p>
</div>

<div *ngIf="post && isEditing || isCreating">
  <form>
    <div class="form-group">
      <label for="titileInput">Email address</label>
      <input [(ngModel)]="post.title" maxlength="100" placeholder="Enter email" type="text" class="form-control" id="titileInput" name="titileInput">
      <small id="emailHelp" class="form-text text-muted">Enter a title.</small>
    </div>
    <div class="form-group">
      <label for="messageTextArea">Example textarea</label>
      <textarea [(ngModel)]="post.message" maxlength="140" placeholder="Message" class="form-control" id="messageTextArea" name="messageTextArea" rows="3"></textarea>
      <small id="emailHelp" class="form-text text-muted">Enter a text message.</small>
    </div>
    <button (click)="save(post); $event.stopPropagation()" class="btn btn-primary">Save</button>
    <button (click)="cancel(); $event.stopPropagation()" class="btn btn-danger">Cancel</button>
  </form>
</div>