<div class="list-group">
  <div *ngFor="let post of posts">
    <div  class="list-group-item list-group-item-action flex-column align-items-start">
      <a [routerLink]="['/post', post.id]">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{post.title}}</h5>
        </div>
        <p class="mb-1">{{post.message}}</p>
      </a>
      <button (click)="edit(post); $event.stopPropagation()" class="btn btn-outline-info btn-block">Edit</button>
      <button (click)="deletePost(post); $event.stopPropagation()" class="btn btn-outline-danger btn-block">Remove</button>
    </div>
  </div>
</div>